body {
  /*background-color: #1f3454;*/
  background-color: #182742;
  white-space: nowrap;
  color: white;
  font-family: 'Exo 2', sans-serif;
}

h2 {
  font-size: 300%;
}

.page {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 100%;
  overflow: hidden;
}

#fez {
  position: absolute;
  width: 400px;
  height: 300px;
  margin-left: -200px;
  z-index: -1;
}

.right {
  text-align: right;
  margin-right: 50px;
}

#myname {
  margin-top: 130px;
  font-size: 90px;
}

#links {
  margin-top: 50px;
  font-size: 32px;
}

#links div {
  padding-bottom: 10px;
}

#tardis {
  position: absolute;
  z-index: -1;
  background-image: url("/images/tardis.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#project-list li {
  border: 1px solid yellow;
  margin: 10px;
  padding: 10px;
  width: 75%;
}

div#links a {
  text-decoration: none;
  color: white;
}
