body {
  /*background-color: #1f3454;*/
  background-color: #182742;
  white-space: nowrap;
  color: white;
  font-family: 'Exo 2', sans-serif;
}

h2 {
  font-size: 300%;
  margin-top: 50px;
  margin-left: 50px;
}

.page {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 100%;
  overflow: hidden;
}

#fez {
  position: absolute;
  width: 400px;
  height: 300px;
  margin-left: -200px;
  z-index: -1;
}

.right {
  text-align: right;
  margin-right: 50px;
}

#myname {
  margin-top: 130px;
  font-size: 90px;
}

#links {
  margin-top: 50px;
  font-size: 32px;
}

#links div {
  padding-bottom: 10px;
}

#links a {
  text-decoration: none;
  color: white;
}

#tardis {
  position: absolute;
  z-index: -1;
  background-image: url("/images/tardis.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#project-list {
  margin-left: 50px;
}

#project-list li {
  margin-top: 30px;
  padding: 10px;
  width: 68%;
  min-height: 12%;
  border-radius: 10px;
  background-color: rgba(190,200,255,0.1);
}

#project-list li div.title {
  padding-bottom: 10px;
}

#project-list li div.blurb {
  font-weight: 100;
  white-space: normal;
}

#project-list li .github-icon {
  border-radius: 10px;
  background-color: #ddd;
  padding-bottom: 1px;
  padding-right: 1px;
  margin: -4px;
  margin-left: 15px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("/images/github.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
